<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

  <body>


    <header>
 <h1 class="main-title"><span class="thin">Chec</span>kers</h1>
 </header>

  <nav>

    <div class="lobby-chat">
<div id="chat-feed" class="log" data-chatroom="lobby">
</div>
<div class="entry">
<div class="type-area">
<div class="username-input">
<%= text_field_tag :message, nil %>
class: "form-control chat-input", maxlength: 140 %>
</div>
</div>
</div>
</div>
  </nav>
    <main>
    <canvas></canvas>
    <canvas></canvas>

    </main>
   <footer>


<%# 
     <div id="chatbox"></div>

      <form name="message" action="">
          <input name="usermsg" type="text" id="usermsg" size="63" />
          <input name="submitmsg" type="submit"  id="submitmsg" value="Send" /> %>
  </footer>


    <%= yield %>
  </body>
</html>
