<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

  <body>

    <!-- <div class="grid">
      <header class="grid-header">
<h1>Checkers</h1>
</div>
<aside class="board"> -->
  <canvas></canvas>
  <canvas></canvas>
<!-- </div>
  </div> -->





    <%= yield %>
  </body>
</html>
